{{ define "main"}}
      <main>
        <div class="intro">
        <h1> oOps! </h1>
        <h2>Nothing here</h2>
        <h3>Looks like the page you're looking for, doesn't exist here anymore.</h3>
        <h4>You may find what you're looking for in one of the sections
          available in the menu at the top left of this page.</h4>
      </div>
    </main>
{{ end }}
