{{ if .IsNamedParams }}
  <div style="display: flex; justify-content: center; padding-right: 5rem; ">
    {{ if .Get "twitter" }}
      <a style="padding-left: 1rem" href="https://twitter.com/{{ .Get "twitter" }}" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>
      </a>
    {{ end }} {{ if .Get "linkedin" }}
      <a style="padding-left: 1rem" href="https://www.linkedin.com/in/{{ .Get "linkedin" }}" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
      </a>
    {{ end }} {{ if .Get "github" }}
      <a style="padding-left: 1rem" href="https://github.com/{{ .Get "github" }}" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
      </a>
      {{ end  }} {{ if .Get "gitlab" }}
      <a style="padding-left: 1rem" href="https://gitlab.com/{{ .Get "gitlab" }}" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 50 50" width="32" height="32"> <path fill="currentColor" d="M38.011719 4C37.574219 3.996094 37.183594 4.273438 37.046875 4.691406L32.074219 20 17.925781 20 12.953125 4.691406C12.820313 4.289063 12.449219 4.011719 12.023438 4 11.597656 3.992188 11.214844 4.25 11.0625 4.648438L5.070313 20.640625C5.066406 20.640625 5.066406 20.644531 5.0625 20.648438L2.0625 28.648438C1.90625 29.070313 2.046875 29.542969 2.414063 29.808594L24.40625 45.800781 24.410156 45.808594C24.414063 45.808594 24.414063 45.808594 24.414063 45.8125 24.425781 45.820313 24.441406 45.828125 24.453125 45.835938 24.46875 45.84375 24.480469 45.855469 24.496094 45.863281 24.5 45.863281 24.5 45.867188 24.503906 45.867188 24.503906 45.867188 24.507813 45.871094 24.511719 45.871094 24.515625 45.875 24.519531 45.878906 24.527344 45.878906 24.53125 45.882813 24.539063 45.886719 24.542969 45.890625 24.5625 45.898438 24.585938 45.910156 24.609375 45.917969 24.609375 45.917969 24.609375 45.917969 24.609375 45.921875 24.632813 45.929688 24.65625 45.9375 24.675781 45.945313 24.679688 45.945313 24.679688 45.945313 24.683594 45.949219 24.699219 45.953125 24.714844 45.957031 24.734375 45.964844 24.742188 45.964844 24.75 45.96875 24.761719 45.96875 24.761719 45.972656 24.761719 45.972656 24.761719 45.96875 24.78125 45.976563 24.800781 45.980469 24.820313 45.984375 24.847656 45.988281 24.871094 45.992188 24.898438 45.996094 24.9375 45.996094 24.980469 46 25.019531 46 25.058594 45.996094 25.09375 45.996094 25.128906 45.988281 25.144531 45.988281 25.15625 45.988281 25.171875 45.984375 25.171875 45.984375 25.175781 45.984375 25.179688 45.984375 25.1875 45.980469 25.191406 45.980469 25.199219 45.980469 25.203125 45.980469 25.207031 45.976563 25.214844 45.976563 25.222656 45.972656 25.234375 45.972656 25.242188 45.96875 25.257813 45.964844 25.269531 45.960938 25.28125 45.957031 25.289063 45.957031 25.292969 45.957031 25.296875 45.953125 25.300781 45.953125 25.304688 45.953125 25.308594 45.953125 25.324219 45.945313 25.34375 45.9375 25.359375 45.933594 25.378906 45.925781 25.394531 45.917969 25.410156 45.910156 25.414063 45.910156 25.414063 45.910156 25.417969 45.90625 25.421875 45.90625 25.425781 45.90625 25.429688 45.902344 25.4375 45.898438 25.445313 45.894531 25.453125 45.890625 25.476563 45.878906 25.496094 45.867188 25.515625 45.855469 25.523438 45.851563 25.527344 45.847656 25.53125 45.84375 25.535156 45.84375 25.539063 45.839844 25.542969 45.839844 25.558594 45.828125 25.574219 45.820313 25.589844 45.808594L25.597656 45.796875 47.589844 29.808594C47.953125 29.542969 48.09375 29.070313 47.9375 28.648438L44.945313 20.675781C44.941406 20.667969 44.9375 20.65625 44.9375 20.648438L38.9375 4.648438C38.789063 4.261719 38.425781 4.003906 38.011719 4ZM8.066406 22L16.472656 22 22.328125 40.015625ZM33.527344 22L41.933594 22 27.671875 40.015625ZM6.3125 23.007813L19.6875 39.902344 4.203125 28.640625ZM43.6875 23.007813L45.796875 28.640625 30.3125 39.902344Z"/> </svg>
      </a>
      {{ end }} {{ if .Get "youtube" }}
      <a style="padding-left: 1rem" href="https://youtube.com/{{ .Get "youtube" }}" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 30 30" width="32" height="32">
  <path fill="currentColor" d="M7.4140625 3L9.1894531 9.4121094 9.1894531 12.488281 10.726562 12.488281 10.726562 9.4121094 12.525391 3 10.976562 3 10.332031 5.9179688C10.151031 6.7699687 10.035422 7.3753281 9.9824219 7.7363281L9.9355469 7.7363281C9.8605469 7.2313281 9.7439375 6.62125 9.5859375 5.90625L8.9648438 3 7.4140625 3zM14.318359 5.4199219C13.797359 5.4199219 13.376641 5.5224687 13.056641 5.7304688 12.735641 5.9374688 12.500609 6.2687031 12.349609 6.7207031 12.199609 7.1737031 12.123047 7.7715781 12.123047 8.5175781L12.123047 9.5234375C12.123047 10.261437 12.190266 10.853828 12.322266 11.298828 12.454266 11.743828 12.675281 12.072203 12.988281 12.283203 13.301281 12.494203 13.733203 12.600562 14.283203 12.601562 14.818203 12.601562 15.244641 12.497063 15.556641 12.289062 15.868641 12.081063 16.095375 11.755641 16.234375 11.306641 16.373375 10.857641 16.443359 10.264391 16.443359 9.5253906L16.443359 8.5175781C16.443359 7.7715781 16.371516 7.1755625 16.228516 6.7265625 16.085516 6.2785625 15.860781 5.9473281 15.550781 5.7363281 15.241781 5.5253281 14.830359 5.4199219 14.318359 5.4199219zM17.251953 5.5566406L17.251953 10.734375C17.251953 11.375375 17.362078 11.847437 17.580078 12.148438 17.799078 12.449437 18.137656 12.599609 18.597656 12.599609 19.260656 12.599609 19.758844 12.279672 20.089844 11.638672L20.123047 11.638672 20.259766 12.486328 21.480469 12.486328 21.480469 5.5566406 19.921875 5.5566406 19.921875 11.060547C19.861875 11.189547 19.769531 11.295906 19.644531 11.378906 19.519531 11.462906 19.389906 11.503906 19.253906 11.503906 19.094906 11.503906 18.982063 11.436687 18.914062 11.304688 18.846063 11.172688 18.8125 10.954531 18.8125 10.644531L18.8125 5.5566406 17.251953 5.5566406zM14.283203 6.4941406C14.501203 6.4941406 14.656187 6.6098437 14.742188 6.8398438 14.829188 7.0688437 14.871094 7.4316875 14.871094 7.9296875L14.871094 10.089844C14.871094 10.602844 14.828188 10.971266 14.742188 11.197266 14.656188 11.423266 14.502156 11.536109 14.285156 11.537109 14.067156 11.537109 13.915031 11.423266 13.832031 11.197266 13.748031 10.971266 13.707031 10.601844 13.707031 10.089844L13.707031 7.9296875C13.707031 7.4326875 13.751891 7.0698438 13.837891 6.8398438 13.923891 6.6108438 14.072203 6.4941406 14.283203 6.4941406zM6.5 13.900391C5.119 13.900391 4 15.019391 4 16.400391L4 24.400391C4 25.781391 5.119 26.900391 6.5 26.900391L23.5 26.900391C24.881 26.900391 26 25.781391 26 24.400391L26 16.400391C26 15.019391 24.881 13.900391 23.5 13.900391L6.5 13.900391zM15.058594 16.199219L16.328125 16.199219 16.328125 19.283203 16.337891 19.283203C16.451891 19.060203 16.614219 18.881141 16.824219 18.744141 17.034219 18.607141 17.261906 18.539062 17.503906 18.539062 17.815906 18.539062 18.059328 18.622109 18.236328 18.787109 18.413328 18.952109 18.544047 19.220844 18.623047 19.589844 18.702047 19.959844 18.742188 20.471953 18.742188 21.126953L18.742188 22.050781C18.742188 22.922781 18.637734 23.563609 18.427734 23.974609 18.217734 24.385609 17.888359 24.591797 17.443359 24.591797 17.195359 24.591797 16.969625 24.533922 16.765625 24.419922 16.561625 24.305922 16.410594 24.149172 16.308594 23.951172L16.279297 23.951172 16.146484 24.503906 15.058594 24.503906 15.058594 16.199219zM7.1835938 16.496094L11.087891 16.496094 11.087891 17.556641 9.7792969 17.556641 9.7792969 24.503906 8.4902344 24.503906 8.4902344 17.556641 7.1835938 17.556641 7.1835938 16.496094zM21.117188 18.542969C21.568188 18.542969 21.916203 18.624062 22.158203 18.789062 22.399203 18.955063 22.570922 19.2135 22.669922 19.5625 22.767922 19.9125 22.816406 20.396672 22.816406 21.013672L22.816406 22.017578 20.613281 22.017578 20.613281 22.314453C20.613281 22.690453 20.623484 22.971203 20.646484 23.158203 20.669484 23.345203 20.715156 23.483359 20.785156 23.568359 20.855156 23.654359 20.963375 23.697266 21.109375 23.697266 21.306375 23.697266 21.441625 23.62075 21.515625 23.46875 21.588625 23.31675 21.628766 23.061078 21.634766 22.705078L22.769531 22.771484C22.775531 22.821484 22.779297 22.893422 22.779297 22.982422 22.779297 23.523422 22.631937 23.927359 22.335938 24.193359 22.039938 24.461359 21.621078 24.595703 21.080078 24.595703 20.431078 24.595703 19.976844 24.391375 19.714844 23.984375 19.452844 23.577375 19.324219 22.94675 19.324219 22.09375L19.324219 21.072266C19.324219 20.194266 19.460469 19.553438 19.730469 19.148438 20.000469 18.743437 20.462188 18.542969 21.117188 18.542969zM12.949219 18.650391L14.267578 18.650391 14.267578 24.501953 14.263672 24.501953 14.263672 24.503906 13.232422 24.503906 13.119141 23.787109 13.089844 23.787109C12.809844 24.329109 12.390078 24.599609 11.830078 24.599609 11.441078 24.599609 11.155703 24.47375 10.970703 24.21875 10.785703 23.96475 10.693359 23.565391 10.693359 23.025391L10.693359 18.652344 12.013672 18.652344 12.013672 22.949219C12.013672 23.209219 12.042609 23.397813 12.099609 23.507812 12.157609 23.619812 12.251719 23.673828 12.386719 23.673828 12.500719 23.673828 12.609844 23.639359 12.714844 23.568359 12.820844 23.498359 12.897219 23.408781 12.949219 23.300781L12.949219 18.650391zM21.089844 19.431641C20.949844 19.431641 20.844344 19.472687 20.777344 19.554688 20.710344 19.637687 20.665531 19.772938 20.644531 19.960938 20.621531 20.147938 20.611328 20.433453 20.611328 20.814453L20.611328 21.234375 21.574219 21.234375 21.574219 20.814453C21.574219 20.438453 21.562109 20.154937 21.537109 19.960938 21.512109 19.765937 21.467391 19.630781 21.400391 19.550781 21.333391 19.471781 21.230844 19.431641 21.089844 19.431641zM16.910156 19.474609C16.783156 19.474609 16.664641 19.524953 16.556641 19.626953 16.448641 19.728953 16.372125 19.859578 16.328125 20.017578L16.328125 23.339844C16.386125 23.441844 16.460734 23.517359 16.552734 23.568359 16.644734 23.618359 16.744516 23.646484 16.853516 23.646484 16.993516 23.646484 17.1045 23.596141 17.1875 23.494141 17.2705 23.392141 17.329281 23.220516 17.363281 22.978516 17.398281 22.737516 17.416016 22.402562 17.416016 21.976562L17.416016 21.222656C17.416016 20.764656 17.402047 20.411109 17.373047 20.162109 17.345047 19.914109 17.292703 19.736812 17.220703 19.632812 17.147703 19.528813 17.045156 19.474609 16.910156 19.474609z"/> </svg>
      </a>
      {{ end }} {{ if .Get "facebook" }}
      <a style="padding-left: 1rem" href="https://facebook.com/{{ .Get "facebook" }}" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 24 24" version="1.1"> <g id="surface2747"> <path fill="currentColor" d="M11.664062 2.003906C6.621094 2.171875 2.375 6.25 2.023438 11.289062 1.65625 16.617188 5.46875 21.121094 10.507812 21.878906L10.507812 14.648438 8.890625 14.648438C8.164062 14.648438 7.578125 14.0625 7.578125 13.335938 7.578125 12.609375 8.164062 12.023438 8.890625 12.023438L10.503906 12.023438 10.503906 10.273438C10.503906 7.378906 11.914062 6.105469 14.324219 6.105469 14.679688 6.105469 14.984375 6.113281 15.242188 6.128906 15.878906 6.15625 16.371094 6.6875 16.371094 7.324219 16.371094 7.988281 15.835938 8.523438 15.171875 8.523438L14.730469 8.523438C13.710938 8.523438 13.351562 9.492188 13.351562 10.585938L13.351562 12.023438 15.222656 12.023438C15.8125 12.023438 16.265625 12.550781 16.175781 13.132812L16.066406 13.835938C15.992188 14.304688 15.589844 14.652344 15.113281 14.652344L13.351562 14.652344 13.351562 21.898438C18.234375 21.234375 22 17.0625 22 12 22 6.367188 17.339844 1.820312 11.664062 2.003906ZM11.664062 2.003906"/> </g> </svg>
      </a>
    {{ end }} {{ if .Get "telegram" }}
      <a style="padding-left: 1rem" href="https://t.me/{{ .Get "telegram" }}" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" data-name="telegram" viewBox="0 0 32 32" width="32" height="32"> <path fill="currentColor" d="M26.070313 3.996094C25.734375 4.011719 25.417969 4.109375 25.136719 4.21875L25.132813 4.21875C24.847656 4.332031 23.492188 4.902344 21.433594 5.765625 19.375 6.632813 16.703125 7.757813 14.050781 8.875 8.753906 11.105469 3.546875 13.300781 3.546875 13.300781L3.609375 13.277344C3.609375 13.277344 3.25 13.394531 2.875 13.652344 2.683594 13.777344 2.472656 13.949219 2.289063 14.21875 2.105469 14.488281 1.957031 14.902344 2.011719 15.328125 2.101563 16.050781 2.570313 16.484375 2.90625 16.722656 3.246094 16.964844 3.570313 17.078125 3.570313 17.078125L3.578125 17.078125 8.460938 18.722656C8.679688 19.425781 9.949219 23.597656 10.253906 24.558594 10.433594 25.132813 10.609375 25.492188 10.828125 25.765625 10.933594 25.90625 11.058594 26.023438 11.207031 26.117188 11.265625 26.152344 11.328125 26.179688 11.390625 26.203125 11.410156 26.214844 11.429688 26.21875 11.453125 26.222656L11.402344 26.210938C11.417969 26.214844 11.429688 26.226563 11.441406 26.230469 11.480469 26.242188 11.507813 26.246094 11.558594 26.253906 12.332031 26.488281 12.953125 26.007813 12.953125 26.007813L12.988281 25.980469 15.871094 23.355469 20.703125 27.0625 20.8125 27.109375C21.820313 27.550781 22.839844 27.304688 23.378906 26.871094 23.921875 26.433594 24.132813 25.875 24.132813 25.875L24.167969 25.785156 27.902344 6.65625C28.007813 6.183594 28.035156 5.742188 27.917969 5.3125 27.800781 4.882813 27.5 4.480469 27.136719 4.265625 26.769531 4.046875 26.40625 3.980469 26.070313 3.996094ZM25.96875 6.046875C25.964844 6.109375 25.976563 6.101563 25.949219 6.222656L25.949219 6.234375 22.25 25.164063C22.234375 25.191406 22.207031 25.25 22.132813 25.308594 22.054688 25.371094 21.992188 25.410156 21.667969 25.28125L15.757813 20.75 12.1875 24.003906 12.9375 19.214844C12.9375 19.214844 22.195313 10.585938 22.59375 10.214844 22.992188 9.84375 22.859375 9.765625 22.859375 9.765625 22.886719 9.3125 22.257813 9.632813 22.257813 9.632813L10.082031 17.175781 10.078125 17.15625 4.242188 15.191406 4.242188 15.1875C4.238281 15.1875 4.230469 15.183594 4.226563 15.183594 4.230469 15.183594 4.257813 15.171875 4.257813 15.171875L4.289063 15.15625 4.320313 15.144531C4.320313 15.144531 9.53125 12.949219 14.828125 10.71875 17.480469 9.601563 20.152344 8.476563 22.207031 7.609375 24.261719 6.746094 25.78125 6.113281 25.867188 6.078125 25.949219 6.046875 25.910156 6.046875 25.96875 6.046875Z"/> </svg>
      </a>
    {{ end }} {{ if .Get "web" }}
      <a style="padding-left: 1rem" href="https://{{ .Get "web" }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></svg>
      </a>
    {{ end }}
</div>
{{ end }}
